
# node mods
/node_modules

# environmental / config vars

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.env
env

#bundle
/client/public/bundle.js
# Compiled Dirs (http://nodejs.org/api/addons.html)
build/
dist/