
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}

.sidebar {
    border: 2px solid black;
    padding-left: 30px;
}

.main {
    border: 2px solid green;
}