
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}

p {
    font-size: 13px;
}

.flex {
    display: flex;
    align-items: center;
}

.rm-margin {
    margin: 0px !important;
}

.padding-left {
    padding-left: 20px;
}

.sidebar {
    border: 2px solid black;
    padding-left: 30px;
}

.main {
    padding-left: 15px; 
    padding-right: 100px;
}

.reviewItem {
    padding-top: 20px;
}

.authorImg {
    width: 40px;
    height: 40px;
    border-radius: 50% 50%;
}

.author {
    padding-left: 10px;
}

.small-grey {
    font-size: 12px;
    color: rgb(107, 107, 107);
}

.verified {
    color: rgb(185,66,0)
}

.helpfulBtn {
    padding: 3px 12px;
    font-size: 14px;
    border-radius: 2px;
}

.placeholder {
    width: 100%;
    padding: 20px 0px;
}